body{
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    margin:3em 6em 6em 15em;
    width: 80%;
}

.jumboTronText{
    font-size: 5em;
}

.scrapedHeader{
    text-align:center;
}

.articleLink{
    font-weight:bolder;
    font-size: 1.5em;
    color: darkgreen;
    text-transform: uppercase;
}

.articleSummary{
    font-size:1em;
}